fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langchain-openai
langchain-core
langchain-community
chromadb
langchain-chroma
firebase-admin
requests
argon2-cffi
aiosqlite
pytesseract
pillow
pypdf
pdfplumber
prometheus-fastapi-instrumentator
jinja2
langsmith
pyyaml
uvloop